<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css" type="text/css">
    <link rel="icon" href="/assets/weather.png">
    
</head>
    <title>Weather Information</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
         <p>Get your Weather right here</p>

         <form>
            <input type="text" placeholder="Enter a City">
            <button>Search</button>             
         </form>

         <p id="first">

        </p>
        <p id="second">

        </p>
    </div>
    

    
    {{>footer}}
    <script src="/js/clientjs.js"></script>    
</body>
</html>